<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>美食特色</title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="stylesheet" href="css/boot.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/icons.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="css/ie7/ie7.css">
    <link rel="stylesheet" href="css/food.css">
    <!--<![endif]-->
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">
<div th:insert="head :: nav"></div>
<div class="clear"></div>
<div id="page-content">
    <section class="breadcrumb">
        <div class="container">
            <h2>美食特色</h2>
            <ul>
                <li><a href="index.html">阿拉宁波</a> ></li>
                <li><a href="#">美食特色</a></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container-fluid p-sm-0">
            <div class="row featured-post-slider">
                <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1" th:each="comment : ${pageInfo.list}">
                    <article class="card bg-dark text-center text-white border-0 rounded-0">
                        <img class="card-img rounded-0 img-fluid w-100" th:src="${comment.imgUrl}" alt="post-thumb" style="width: 400px;height: 400px">
                        <div class="card-img-overlay">
                            <div class="card-content">
                                <p class="text-uppercase">美食分享</p>
                                <h4 class="card-title mb-4"><a class="text-white" href="blog-single.html" th:text="${comment.title}"></a></h4>
                                <a class="btn btn-outline-light" th:href="@{'/food/'+${comment.commentId}}">阅读</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- blog post -->
    <section class="section">
        <div class="container">
            <div class="row masonry-container">
                <div class="col-lg-4 col-sm-6 mb-5" th:each="comment : ${pageInfo.list}">
                    <article class="text-center">
                        <img class="img-fluid mb-4" th:src="${comment.imgUrl}" alt="post-thumb" style="width: 70%;">
                        <p class="text-uppercase mb-2">美食</p>
                        <h4 class="title-border"><a class="text-dark" href="blog-single.html" th:text="${comment.title}"></a></h4>
                        <p th:text="${comment.content}"></p>
                        <a th:href="${comment.buyUrl}" class="btn btn-transparent">购买</a>
                    </article>
                </div>

            </div>
        </div>
    </section>
    <section class="center-block">
        <div class="container">
            <div class="text-center">
                <ul class="pagination justify-content-center align-items-center" th:each="num:${pageInfo.navigatepageNums}">
                    <li><a href="cultural" th:href="@{'/food?pageNum=' + ${num}}" th:text="${num}"></a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
<div th:insert="~{footer :: foot}"></div>
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- masonry -->
<script src="plugins/masonry/masonry.js"></script>
<!-- instafeed -->
<script src="plugins/instafeed/instafeed.min.js"></script>
<!-- smooth scroll -->
<script src="plugins/smooth-scroll/smooth-scroll.js"></script>
<!-- headroom -->
<script src="plugins/headroom/headroom.js"></script>
<!-- reading time -->
<script src="plugins/reading-time/readingTime.min.js"></script>

<!-- Main Script -->
<script src="js/food.js"></script>
<script src="js/user.js"></script>
</body>

</html>