<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="foot" class="footer">
<footer>
    <div class="container">
        <div class="row contact-sec">
            <div class="col-md-5 col-lg-9 col-md-offset-2 col-lg-offset-2">
                <h2>阿拉<span>宁波</span></h2>
                <div class="row">
                    <div class="col-sm-6">
                        <p>Author:Golden Pig
                            <br/>Zip - 382481</p>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li><a href="#"><i class="fa fa-phone"></i> 17858263016</a></li>
                            <li><a href="#"><i class="ti-email"></i> 619471333@qq.com </a></li>
                        </ul>
                    </div>
                </div>
                <a href="" class="btn-default">Contact us</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <ul class="footer-nav">
                    <li><a href="cultural.html">历史文化</a></li>
                    <li><a href="news.html">活动资讯</a></li>
                    <li><a href="food.html">美食特色</a></li>
                    <li><a href="natural.html">风物文化</a></li>
                    <li><a href="http://106.13.35.217">联系我们</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2 col-md-offset-2 col-lg-offset-2">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    Copyright &copy; 2020 More info <a href="http://106.13.35.217/" target="_blank" title="交流社区">交流社区</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                    <a href="#">ListJ & PlanesWalker</a>
                    <a href="#">Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>