<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
<header>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 address">
                    <i class="ti-location-pin"></i> 2020 Tzc, China
                </div>
                <div class="col-sm-6 social">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    阿拉<span>宁波</span>
                </a>
                <p> <b></b></p>
            </div>
            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/cultural">历史文化</a>
                    </li>
                    <li>
                        <a href="/news">活动资讯</a>
                    </li>
                    <li>
                        <a href="/food">美食特色</a>
                    </li>
                    <li>
                        <a href="contact-us.html">风物文化</a>
                    </li>
                    <li th:switch="${session.user == null}">
                        <button th:case="true" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="border-style: none;background-color: Transparent;">
                            <span>登录</span>
                        </button>
                        <a href="/profile" th:case="false" th:text="${session.user.getUserName()}" style="color: white"></a>
                    </li>
                    <li th:switch="${session.user == null}">
                        <button th:case="true" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registerModal" style="border-style: none;background-color: Transparent;">
                            <span>注册</span>
                        </button>
                        <a href="/logout" th:case="false">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="z-index: 2041;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">登录</h4>
            </div>
            <div class="modal-body">
                <form id="loginForm" onsubmit="return false">
                    <div class="form-group">
                        <label for="email">邮箱</label>
                        <input type="email"  name="email" class="form-control" id="email" placeholder="请输入邮箱">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password"  name="password" class="form-control" id="password" placeholder="请输入密码">
                    </div>

                    <button type="submit" class="btn btn-default" style="float: right;width: 60px;background-color: greenyellow;margin: auto" onclick="login()">登录</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!--  注册  -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="register">
    <div class="modal-dialog" style="z-index: 2041;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="registerModalTitle">注册</h4>
            </div>
            <div class="modal-body">
                <form id="registerForm" onsubmit="return false">
                    <div class="form-group">
                        <label for="emailRegister">邮箱</label>
                        <input type="email"  name="email" class="form-control" id="emailRegister" placeholder="请输入邮箱">
                    </div>
                    <div class="form-group">
                        <label for="passwordRegister">密码</label>
                        <input type="password"  name="password" class="form-control" id="passwordRegister" placeholder="请输入密码">
                    </div>
                    <div class="form-group">
                        <label for="userNameRegister">昵称</label>
                        <input type="text"  name="userName" class="form-control" id="userNameRegister" placeholder="请输入昵称">
                    </div>
                    <button type="submit" class="btn btn-default" style="float: right;width: 60px;background-color: greenyellow;margin: auto" onclick="regist()">注册</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>