<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>阿拉宁波</title>
  <link rel="shortcut icon" href="images/favicon.png" />
  <link rel="stylesheet" href="css/boot.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="css/icons.css" rel="stylesheet" type="text/css">
  <!--[if lt IE 8]><!-->
  <link rel="stylesheet" href="css/ie7/ie7.css">
  <!--<![endif]-->
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<!-- Preloader -->
<div th:insert="head :: nav"></div>
</main> <!-- end main wrapper -->


<!-- jQuery Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/boot.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
<script src="/js/custom.js"></script>
<script type="text/javascript">
  function login() {
    $.ajax({
      type: "post",
      url: "/user/login",
      data: $('#loginForm').serialize(),// 获取form表单中的数据
      dataType: "json",// 预期服务器返回的数据类型
      success:function (data) {
        if (data.success) {
          // 登录成功转到主页
          window.location.href="/";
        } else {
          // 登录失败提示
          alert(data.message);
        }
      }
    });
  }
</script>


</body>
</html>