<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>古迹遗址</title>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Karla:400,400i,700%7CLato:300,400,400i,700' rel='stylesheet'>

    <!-- Css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/font-icons.css" />
    <link rel="stylesheet" href="/css/sliders.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

</head>
<body>
<div th:insert="navigation :: nav"></div>

</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript">
    function login() {
        $.ajax({
            type: "post",
            url: "/user/login",
            data: $('#loginForm').serialize(),// 获取form表单中的数据
            dataType: "json",// 预期服务器返回的数据类型
            success:function (data) {
                if (data.success) {
                    // 登录成功转到主页
                    window.location.href="/";
                } else {
                    // 登录失败提示
                    alert(data.message);
                }
            }
        });
    }
</script>

</html>