<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${comment.title}"></title>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/boot.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/css/icons.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="/ie7/ie7.css">
    <!--<![endif]-->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
<div th:insert="head :: nav"></div>
    <div class="clear"></div>
    <div id="page-content">
        <section class="breadcrumb">
            <div class="container">
                <h2 th:text="${comment.title}">详情</h2>
                <ul>
                    <li><a href="index.html">美食分享</a> ></li>
                    <li><a href="#" th:text="${comment.title}"></a></li>
                </ul>
            </div>
        </section>
        <section class="blog-page">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="single-post">
                            <div class="blog-img">
                                <a href="">
                                    <img th:src="${comment.imgUrl}" class="img-responsive">
                                </a>
                                <div class="blog-icon"><img src="/images/icon2.png"></div>
                            </div>
                            <h2 class="blog-title" th:text="${comment.title}"></h2>
                            <div class="blog-meta">
                                <a href="" class="ml-0"><i class="blue-text fa fa-calendar"></i> <span th:text="${comment.createTime}"></span></a>
                                <a href=""><i class="blue-text fa fa-user"></i><span th:text="${comment.userId}"></span></a>
                                <a href=""><i class="blue-text fa fa-heart-o"></i><span th:text="${session.likeNum}"></span></a>
                            </div>
                            <p th:text="${comment.content}"></p>
                            <a th:href="@{'/food/'+${comment.commentId}+'/thumb'}">
                                <img id="image" src="/images/thumb.png" th:src="${session.user==null||comment.likeNum!=session.user.userId}?'/images/thumb.png':'/images/thumb_c.png'">
                            </a>
                            <p></p>
                        </div>
                        <div class="single-post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leosdsdsd pharetra in.lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leo pharetra in. Integer eget orci id leo consectetur iaculis ut vitae neque. Interdum et malesuada fames.</p>
                        </div>
                        <div class="quote-post1">
                            <div class="quote-text">
                                <h5>"Vivamus faucibus magna vitae purus blandit, rutrum aliquam turpis bibendum. Ut sit amet sapien dolor. Integer eget orci id leo consectetur iaculis ut vitae neque. Interdum etmalesuad fames ac ante ipsum primis in faucibus."</h5>
                            </div>
                        </div>
                        <!-- Comments -->

                    </div>
                </div>
            </div>
        </section>

        <section class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-box">
                            <h2>联系作者</h2>
                            <div class="form-content">
                                <textarea rows="1" cols="1" id="content" name="content" placeholder="有什么想问的，在这里写下来吧"></textarea>
                                <div class="text-center">
                                    <input type="submit" class="btn-default" value="发送邮件"th:onclick="sendEmail([[${comment.commentId}]]);" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clear"></div>
<div th:insert="~{footer :: foot}"></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/boot.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="/js/custom.js"></script>
<script type="text/javascript">
    function sendEmail(inputCommentId) {
        const input = document.getElementById('content').value;
        $.ajax({
            type: "POST",
            url: "/send",
            data: {
                commentId: inputCommentId,
                content: input
            },
            dataType: "json",
            success:function (data) {
                if (data.success) {
                    window.location.reload();
                } else {
                    // 登录失败提示
                    alert(data.message);
                }
            }
        });
    }
</script>
</body>

</html>
